api:
  insecure: true
  dashboard: true

entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"
providers:
  docker:
    exposedByDefault: false

ping:
  entryPoint: "web"

log:
  level: DEBUG
  filepath: "/etc/traefik/log/traefik.log"

accessLog: {}

metrics:
  prometheus:
    buckets:
      - 0.1
      - 0.3
      - 1.2
      - 5.0

tracing:
  zipkin:
    httpEndpoint: http://172.40.0.38:9411/api/v2/spans
